<article class="time_sheet">
  <h2 class="_title">本日:<%= @form.work_day.strftime("%m月%d日") %>の勤務日程 <i class="fas fa-users"></i></h2>
  <section>
    <%= link_to '社員一覧', :employees %>
  </section>
  <div class="time_sheet_pagination">
    <%= paginate @employees %>
  </div>
  <%= render 'common/search' %>
  <% if flash.notice %>
    <div class="alert alert-primary" role="alert">
      <%= flash.notice %>
    </div>
  <% end %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">社員名</th>
        <th scope="col">slack名</th>
        <th scope="col">出社日</th>
        <th scope="col">出勤</th>
        <th scope="col">退勤</th>
        <th scope="col">労働時間</th>
        <th scope="col">勤務状態</th>
        <th scope="col">アクション</th>
      </tr>
    </thead>
    <tbody>
      <% @list.each do |data| %>
        <% employee = data.employee %>
        <% time_sheet = data.time_sheet %>
        <% next if employee.nil? || time_sheet.nil? %>
        <tr>
          <td scope="row"><%= link_to employee.full_name, employee %></td>
          <td scope="row"><%= link_to employee.slack_user_name, employee %></td>
          <td><%= time_sheet.try(:ja_work_day) %></td>
          <td><%= TimeSheet.sheet_format(time: time_sheet.try(:clock_in)) %></td>
          <td><%= TimeSheet.sheet_format(time: time_sheet.try(:clock_out)) %></td>
          <td><%= time_sheet.try(:working_time) %></td>
          <td><%= time_sheet.try(:ja_status) %></td>
          <td><%= link_to '勤怠編集', [ :edit, time_sheet ] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="time_sheet_pagination">
    <%= paginate @employees %>
  </div>
</article>
